[사업체 데이터] - 조경아 EDA
연령대별 사업체 현황(동마다 대표자수,직원수)
동별 사업체 현황(동마다 직원수, 사업체수)
서울시 유통업체 현황(동별 백화점, 대형마트 수)

In [1]:
import glob, os
os.chdir("C:/Users/조경아/Documents/GitHub/Hydrogen-Vehicle/Data/data")
for file in glob.glob("*"):
    print(file)

TL_SCCO_EMD.dbf
TL_SCCO_EMD.prj
TL_SCCO_EMD.shp
TL_SCCO_EMD.shx
x값.ipynb
★(월간)KB주택가격동향_시계열(2019.07)(2003버전).xls
구별 수입차.txt
서울시 국민기초생활보장 수급자 (동별) 통계.txt
서울시 대표자 연령대별 사업체 현황 (동별) 통계.txt
서울시 사업체현황.txt
서울시 유통업체현황 (동별) 통계 .txt
수소 위치.csv
시세통계_면적당평균가_201907기준(2003버전).xls
울산.ipynb

In [2]:
import pandas as pd

In [135]:
450 - 25-1

424

# company

In [3]:
company = pd.read_csv('서울시 사업체현황.txt', delimiter="	", header=[0,2])

In [4]:
company.head()

     기간  자치구    동       합계                                            \
     기간  자치구    동     사업체수    여성대표자          계          남          여
0  2017   합계   합계  822,863  278,152  5,119,913  2,848,150  2,271,763
1  2017  종로구   소계   40,490   13,577    268,702    154,100    114,602
2  2017  종로구  사직동    3,544    1,147     52,489     31,029     21,460
3  2017  종로구  삼청동      753      360      4,507      2,225      2,282
4  2017  종로구  부암동      567      235      4,147      2,137      2,010

  농업 임업 및 어업       ... 공공행정 국방 및 사회보장 행정          교육 서비스업           \
        사업체수 종사자수  ...              사업체수     종사자수    사업체수     종사자수
0         29  469  ...             1,296  138,150  34,762  341,732
1          3   30  ...                90   16,504     852   13,317
2          1   16  ...                19    7,667      86      898
3          -    -  ...                 4    1,229      16      279
4          -    -  ...                 3       58      43    1,543

  보건업 및 사회복지 서비스업          예술 스포츠 및 여가관련 서비스업         협회 및 단체 수리 및 기타 개인 서비스업  \
             사업체수     종사자수               사업체수    종사자수                    사업체수
0          28,683  358,563             22,913  86,452                  69,637
1             732   15,954                926   6,198                   2,506
2              97      764                 95   1,546                     250
3               7       28                 17     172                      27
4              12      153                 15      73                      94


      종사자수
0  190,963
1    8,275
2      920
3      216
4      806

[5 rows x 46 columns]

In [5]:
company.columns = ['_'.join(col) for col in company.columns.values]

In [6]:
company.columns = ['기간', '자치구', '동', '합계_사업체수', '합계_여성대표자', '합계_계', '합계_남',
       '합계_여', '농업 임업 및 어업_사업체수', '농업 임업 및 어업_종사자수', '광업_사업체수', '광업_종사자수',
       '제조업_사업체수', '제조업_종사자수', '전기 가스 증기 및 공기조절 공급업_사업체수',
       '전기 가스 증기 및 공기조절 공급업_종사자수', '수도 하수 및 폐기물 처리 원료 재생업_사업체수',
       '수도 하수 및 폐기물 처리 원료 재생업_종사자수', '건설업_사업체수', '건설업_종사자수', '도매 및 소매업_사업체수',
       '도매 및 소매업_종사자수', '운수 및 창고업_사업체수', '운수 및 창고업_종사자수', '숙박 및 음식점업_사업체수',
       '숙박 및 음식점업_종사자수', '정보통신업_사업체수', '정보통신업_종사자수', '금융 및 보험업_사업체수',
       '금융 및 보험업_종사자수', '부동산업_사업체수', '부동산업_종사자수', '전문 과학 및 기술 서비스업_사업체수',
       '전문 과학 및 기술 서비스업_종사자수', '사업시설 관리 사업 지원 및 임대 서비스업_사업체수',
       '사업시설 관리 사업 지원 및 임대 서비스업_종사자수', '공공행정 국방 및 사회보장 행정_사업체수',
       '공공행정 국방 및 사회보장 행정_종사자수', '교육 서비스업_사업체수', '교육 서비스업_종사자수',
       '보건업 및 사회복지 서비스업_사업체수', '보건업 및 사회복지 서비스업_종사자수',
       '예술 스포츠 및 여가관련 서비스업_사업체수', '예술 스포츠 및 여가관련 서비스업_종사자수',
       '협회 및 단체 수리 및 기타 개인 서비스업_사업체수', '협회 및 단체 수리 및 기타 개인 서비스업_종사자수']

In [7]:
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 46 columns):
기간                              450 non-null int64
자치구                             450 non-null object
동                               450 non-null object
합계_사업체수                         450 non-null object
합계_여성대표자                        450 non-null object
합계_계                            450 non-null object
합계_남                            450 non-null object
합계_여                            450 non-null object
농업 임업 및 어업_사업체수                 450 non-null object
농업 임업 및 어업_종사자수                 450 non-null object
광업_사업체수                         450 non-null object
광업_종사자수                         450 non-null object
제조업_사업체수                        450 non-null object
제조업_종사자수                        450 non-null object
전기 가스 증기 및 공기조절 공급업_사업체수        450 non-null object
전기 가스 증기 및 공기조절 공급업_종사자수        450 non-null object
수도 하수 및 폐기물 처리 원료 재생업_사업체수      450 non-null object
수도 하수 및 폐기물 처리 원료 재생업_종사자수      450 non-null object
건설업_사업체수                        450 non-null object
건설업_종사자수                        450 non-null object
도매 및 소매업_사업체수                   450 non-null object
도매 및 소매업_종사자수                   450 non-null object
운수 및 창고업_사업체수                   450 non-null object
운수 및 창고업_종사자수                   450 non-null object
숙박 및 음식점업_사업체수                  450 non-null object
숙박 및 음식점업_종사자수                  450 non-null object
정보통신업_사업체수                      450 non-null object
정보통신업_종사자수                      450 non-null object
금융 및 보험업_사업체수                   450 non-null object
금융 및 보험업_종사자수                   450 non-null object
부동산업_사업체수                       450 non-null object
부동산업_종사자수                       450 non-null object
전문 과학 및 기술 서비스업_사업체수            450 non-null object
전문 과학 및 기술 서비스업_종사자수            450 non-null object
사업시설 관리 사업 지원 및 임대 서비스업_사업체수    450 non-null object
사업시설 관리 사업 지원 및 임대 서비스업_종사자수    450 non-null object
공공행정 국방 및 사회보장 행정_사업체수          450 non-null object
공공행정 국방 및 사회보장 행정_종사자수          450 non-null object
교육 서비스업_사업체수                    450 non-null object
교육 서비스업_종사자수                    450 non-null object
보건업 및 사회복지 서비스업_사업체수            450 non-null object
보건업 및 사회복지 서비스업_종사자수            450 non-null object
예술 스포츠 및 여가관련 서비스업_사업체수         450 non-null object
예술 스포츠 및 여가관련 서비스업_종사자수         450 non-null object
협회 및 단체 수리 및 기타 개인 서비스업_사업체수    450 non-null object
협회 및 단체 수리 및 기타 개인 서비스업_종사자수    450 non-null object
dtypes: int64(1), object(45)
memory usage: 161.8+ KB

In [8]:
from datetime import datetime

In [9]:
cols = ['합계_사업체수', '합계_여성대표자', '합계_계', '합계_남',
       '합계_여', '농업 임업 및 어업_사업체수', '농업 임업 및 어업_종사자수', '광업_사업체수', '광업_종사자수',
       '제조업_사업체수', '제조업_종사자수', '전기 가스 증기 및 공기조절 공급업_사업체수',
       '전기 가스 증기 및 공기조절 공급업_종사자수', '수도 하수 및 폐기물 처리 원료 재생업_사업체수',
       '수도 하수 및 폐기물 처리 원료 재생업_종사자수', '건설업_사업체수', '건설업_종사자수', '도매 및 소매업_사업체수',
       '도매 및 소매업_종사자수', '운수 및 창고업_사업체수', '운수 및 창고업_종사자수', '숙박 및 음식점업_사업체수',
       '숙박 및 음식점업_종사자수', '정보통신업_사업체수', '정보통신업_종사자수', '금융 및 보험업_사업체수',
       '금융 및 보험업_종사자수', '부동산업_사업체수', '부동산업_종사자수', '전문 과학 및 기술 서비스업_사업체수',
       '전문 과학 및 기술 서비스업_종사자수', '사업시설 관리 사업 지원 및 임대 서비스업_사업체수',
       '사업시설 관리 사업 지원 및 임대 서비스업_종사자수', '공공행정 국방 및 사회보장 행정_사업체수',
       '공공행정 국방 및 사회보장 행정_종사자수', '교육 서비스업_사업체수', '교육 서비스업_종사자수',
       '보건업 및 사회복지 서비스업_사업체수', '보건업 및 사회복지 서비스업_종사자수',
       '예술 스포츠 및 여가관련 서비스업_사업체수', '예술 스포츠 및 여가관련 서비스업_종사자수',
       '협회 및 단체 수리 및 기타 개인 서비스업_사업체수', '협회 및 단체 수리 및 기타 개인 서비스업_종사자수']

# pass them to df.replace(), specifying each char and it's replacement:
company[cols] = company[cols].replace({',': '', '-':'0'}, regex=True)

In [10]:
company.기간 = company.기간.astype('int')
company.iloc[:,1:3] = company.iloc[:,1:3].astype('str')
company.iloc[:,3:] = company.iloc[:,3:].astype('int')

In [11]:
for i in range(len(company.columns)) :
    print(list(company.columns)[i],"결측치 수 :",sum(company[list(company.columns)[i]].isnull()))

기간 결측치 수 : 0
자치구 결측치 수 : 0
동 결측치 수 : 0
합계_사업체수 결측치 수 : 0
합계_여성대표자 결측치 수 : 0
합계_계 결측치 수 : 0
합계_남 결측치 수 : 0
합계_여 결측치 수 : 0
농업 임업 및 어업_사업체수 결측치 수 : 0
농업 임업 및 어업_종사자수 결측치 수 : 0
광업_사업체수 결측치 수 : 0
광업_종사자수 결측치 수 : 0
제조업_사업체수 결측치 수 : 0
제조업_종사자수 결측치 수 : 0
전기 가스 증기 및 공기조절 공급업_사업체수 결측치 수 : 0
전기 가스 증기 및 공기조절 공급업_종사자수 결측치 수 : 0
수도 하수 및 폐기물 처리 원료 재생업_사업체수 결측치 수 : 0
수도 하수 및 폐기물 처리 원료 재생업_종사자수 결측치 수 : 0
건설업_사업체수 결측치 수 : 0
건설업_종사자수 결측치 수 : 0
도매 및 소매업_사업체수 결측치 수 : 0
도매 및 소매업_종사자수 결측치 수 : 0
운수 및 창고업_사업체수 결측치 수 : 0
운수 및 창고업_종사자수 결측치 수 : 0
숙박 및 음식점업_사업체수 결측치 수 : 0
숙박 및 음식점업_종사자수 결측치 수 : 0
정보통신업_사업체수 결측치 수 : 0
정보통신업_종사자수 결측치 수 : 0
금융 및 보험업_사업체수 결측치 수 : 0
금융 및 보험업_종사자수 결측치 수 : 0
부동산업_사업체수 결측치 수 : 0
부동산업_종사자수 결측치 수 : 0
전문 과학 및 기술 서비스업_사업체수 결측치 수 : 0
전문 과학 및 기술 서비스업_종사자수 결측치 수 : 0
사업시설 관리 사업 지원 및 임대 서비스업_사업체수 결측치 수 : 0
사업시설 관리 사업 지원 및 임대 서비스업_종사자수 결측치 수 : 0
공공행정 국방 및 사회보장 행정_사업체수 결측치 수 : 0
공공행정 국방 및 사회보장 행정_종사자수 결측치 수 : 0
교육 서비스업_사업체수 결측치 수 : 0
교육 서비스업_종사자수 결측치 수 : 0
보건업 및 사회복지 서비스업_사업체수 결측치 수 : 0
보건업 및 사회복지 서비스업_종사자수 결측치 수 : 0
예술 스포츠 및 여가관련 서비스업_사업체수 결측치 수 : 0
예술 스포츠 및 여가관련 서비스업_종사자수 결측치 수 : 0
협회 및 단체 수리 및 기타 개인 서비스업_사업체수 결측치 수 : 0
협회 및 단체 수리 및 기타 개인 서비스업_종사자수 결측치 수 : 0

In [12]:
a = company.corr()

In [13]:
a.합계_사업체수.sort_values(ascending=False)

합계_사업체수                         1.000000
합계_여성대표자                        0.999701
숙박 및 음식점업_사업체수                  0.998618
숙박 및 음식점업_종사자수                  0.997924
협회 및 단체 수리 및 기타 개인 서비스업_종사자수    0.997900
합계_여                            0.997806
협회 및 단체 수리 및 기타 개인 서비스업_사업체수    0.997739
예술 스포츠 및 여가관련 서비스업_사업체수         0.997196
합계_계                            0.997100
공공행정 국방 및 사회보장 행정_사업체수          0.997045
보건업 및 사회복지 서비스업_사업체수            0.996794
부동산업_사업체수                       0.996755
합계_남                            0.996241
예술 스포츠 및 여가관련 서비스업_종사자수         0.995987
건설업_사업체수                        0.995973
도매 및 소매업_사업체수                   0.995799
보건업 및 사회복지 서비스업_종사자수            0.995792
도매 및 소매업_종사자수                   0.995772
사업시설 관리 사업 지원 및 임대 서비스업_사업체수    0.995734
교육 서비스업_사업체수                    0.994474
교육 서비스업_종사자수                    0.994027
수도 하수 및 폐기물 처리 원료 재생업_사업체수      0.992551
부동산업_종사자수                       0.992161
운수 및 창고업_사업체수                   0.990217
금융 및 보험업_사업체수                   0.989897
수도 하수 및 폐기물 처리 원료 재생업_종사자수      0.989220
사업시설 관리 사업 지원 및 임대 서비스업_종사자수    0.988954
전기 가스 증기 및 공기조절 공급업_사업체수        0.987040
제조업_사업체수                        0.986025
공공행정 국방 및 사회보장 행정_종사자수          0.985142
제조업_종사자수                        0.983182
건설업_종사자수                        0.982771
전문 과학 및 기술 서비스업_사업체수            0.979917
운수 및 창고업_종사자수                   0.979551
정보통신업_종사자수                      0.978313
전문 과학 및 기술 서비스업_종사자수            0.977731
정보통신업_사업체수                      0.977521
금융 및 보험업_종사자수                   0.963337
전기 가스 증기 및 공기조절 공급업_종사자수        0.962735
광업_사업체수                         0.950461
농업 임업 및 어업_사업체수                 0.937838
광업_종사자수                         0.914578
농업 임업 및 어업_종사자수                 0.791743
기간                                   NaN
Name: 합계_사업체수, dtype: float64

In [123]:
num_company = company[['자치구', '동', '합계_사업체수']]

num_company=num_company[num_company.동 != '합계']

num_company=num_company[num_company.동 != '소계']

In [134]:
len(num_company)

424

# Comany_ceo

In [16]:
com_ceo = pd.read_csv('서울시 대표자 연령대별 사업체 현황 (동별) 통계.txt', delimiter="	", header=[0,1])

In [17]:
com_ceo.columns = ['_'.join(col) for col in com_ceo.columns.values]

In [18]:
com_ceo.columns

Index(['기간_기간', '자치구_자치구', '동_동', '합계_사업체수', '합계_종사자수', '20대 이하(29세 이하)_사업체수',
       '20대 이하(29세 이하)_종사자수', '30대(30~39세)_사업체수', '30대(30~39세)_종사자수',
       '40대(40~49세)_사업체수', '40대(40~49세)_종사자수', '50대(50~59세)_사업체수',
       '50대(50~59세)_종사자수', '60대 이상(60세 이상)_사업체수', '60대 이상(60세 이상)_종사자수'],
      dtype='object')

In [20]:
com_ceo.columns = ['기간', '자치구', '동', '합계_사업체수', '합계_종사자수', '20대 이하(29세 이하)_사업체수',
       '20대 이하(29세 이하)_종사자수', '30대(30~39세)_사업체수', '30대(30~39세)_종사자수',
       '40대(40~49세)_사업체수', '40대(40~49세)_종사자수', '50대(50~59세)_사업체수',
       '50대(50~59세)_종사자수', '60대 이상(60세 이상)_사업체수', '60대 이상(60세 이상)_종사자수']

In [21]:
com_ceo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 15 columns):
기간                     450 non-null int64
자치구                    450 non-null object
동                      450 non-null object
합계_사업체수                450 non-null object
합계_종사자수                450 non-null object
20대 이하(29세 이하)_사업체수    450 non-null object
20대 이하(29세 이하)_종사자수    450 non-null object
30대(30~39세)_사업체수       450 non-null object
30대(30~39세)_종사자수       450 non-null object
40대(40~49세)_사업체수       450 non-null object
40대(40~49세)_종사자수       450 non-null object
50대(50~59세)_사업체수       450 non-null object
50대(50~59세)_종사자수       450 non-null object
60대 이상(60세 이상)_사업체수    450 non-null object
60대 이상(60세 이상)_종사자수    450 non-null object
dtypes: int64(1), object(14)
memory usage: 52.8+ KB

In [22]:
cols = ['합계_사업체수', '합계_종사자수', '20대 이하(29세 이하)_사업체수',
       '20대 이하(29세 이하)_종사자수', '30대(30~39세)_사업체수', '30대(30~39세)_종사자수',
       '40대(40~49세)_사업체수', '40대(40~49세)_종사자수', '50대(50~59세)_사업체수',
       '50대(50~59세)_종사자수', '60대 이상(60세 이상)_사업체수', '60대 이상(60세 이상)_종사자수']

# pass them to df.replace(), specifying each char and it's replacement:
com_ceo[cols] = com_ceo[cols].replace({',': '', '-':'0'}, regex=True)

In [23]:
com_ceo.기간 = com_ceo.기간.astype('int')
com_ceo.iloc[:,1:3] = com_ceo.iloc[:,1:3].astype('str')
com_ceo.iloc[:,3:] = com_ceo.iloc[:,3:].astype('int')

In [24]:
for i in range(len(com_ceo.columns)) :
    print(list(com_ceo.columns)[i],"결측치 수 :",sum(com_ceo[list(com_ceo.columns)[i]].isnull()))

기간 결측치 수 : 0
자치구 결측치 수 : 0
동 결측치 수 : 0
합계_사업체수 결측치 수 : 0
합계_종사자수 결측치 수 : 0
20대 이하(29세 이하)_사업체수 결측치 수 : 0
20대 이하(29세 이하)_종사자수 결측치 수 : 0
30대(30~39세)_사업체수 결측치 수 : 0
30대(30~39세)_종사자수 결측치 수 : 0
40대(40~49세)_사업체수 결측치 수 : 0
40대(40~49세)_종사자수 결측치 수 : 0
50대(50~59세)_사업체수 결측치 수 : 0
50대(50~59세)_종사자수 결측치 수 : 0
60대 이상(60세 이상)_사업체수 결측치 수 : 0
60대 이상(60세 이상)_종사자수 결측치 수 : 0

In [25]:
a = com_ceo.corr()

In [26]:
a.합계_사업체수.sort_values(ascending=False)

합계_사업체수                1.000000
50대(50~59세)_사업체수       0.999855
40대(40~49세)_사업체수       0.999646
60대 이상(60세 이상)_사업체수    0.999160
30대(30~39세)_사업체수       0.998711
20대 이하(29세 이하)_사업체수    0.998622
20대 이하(29세 이하)_종사자수    0.998259
합계_종사자수                0.997100
30대(30~39세)_종사자수       0.996909
50대(50~59세)_종사자수       0.996615
60대 이상(60세 이상)_종사자수    0.996121
40대(40~49세)_종사자수       0.995954
기간                          NaN
Name: 합계_사업체수, dtype: float64

- 상관관계 결과 각 변수들의 상광관계가 크므로 **대표자 사업체 수 & 사업체 수** 중에서 모든 변수들에 가장 큰 대표성을 갖는 **'합계_사업체수'** 를 선택하도록 한다.

In [27]:
num_company.head()

   자치구    동  합계_사업체수
0   합계   합계   822863
1  종로구   소계    40490
2  종로구  사직동     3544
3  종로구  삼청동      753
4  종로구  부암동      567

# 국민기초생활보장

In [28]:
underGDP = pd.read_csv('서울시 국민기초생활보장 수급자 (동별) 통계.txt', delimiter="	", header = [0,1], engine='python',  encoding='utf-8')

In [29]:
underGDP.head()

     기간  자치구    동    총 수급자                  일반수급자          조건부 수급자          \
     기간  자치구    동       가구   시설       인원       가구       인원      가구      인원
0  2018   합계   합계  197,278  604  290,222  169,271  227,396  23,360  44,271
1  2018   본청   본청        -    8      880        -        -       -       -
2  2018  종로구   소계    3,109   14    4,450    2,821    3,403     216     318
3  2018  종로구  사직동       99    -      121       96      116       3       5
4  2018  종로구  삼청동       34    -       48       25       31       7      14

   특례수급자        시설수급자
      가구     인원    시설      인원
0  4,647  6,324   604  12,231
1      -      -     8     880
2     72     80    14     649
3      -      -     -       -
4      2      3     -       -

In [30]:
underGDP.columns = ['_'.join(col) for col in underGDP.columns.values]

In [31]:
underGDP.columns

Index(['기간_기간', '자치구_자치구', '동_동', '총 수급자_가구', '총 수급자_시설', '총 수급자_인원',
       '일반수급자_가구', '일반수급자_인원', '조건부 수급자_가구', '조건부 수급자_인원', '특례수급자_가구',
       '특례수급자_인원', '시설수급자_시설', '시설수급자_인원'],
      dtype='object')

In [32]:
underGDP.columns = ['기간', '자치구', '동', '총_수급자_가구', '총_수급자_시설', '총_수급자_인원',
       '일반수급자_가구', '일반수급자_인원', '조건부_수급자_가구', '조건부_수급자_인원', '특례수급자_가구',
       '특례수급자_인원', '시설수급자_시설', '시설수급자_인원']

In [33]:
underGDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475 entries, 0 to 474
Data columns (total 14 columns):
기간            475 non-null int64
자치구           475 non-null object
동             475 non-null object
총_수급자_가구      475 non-null object
총_수급자_시설      475 non-null object
총_수급자_인원      475 non-null object
일반수급자_가구      475 non-null object
일반수급자_인원      475 non-null object
조건부_수급자_가구    475 non-null object
조건부_수급자_인원    475 non-null object
특례수급자_가구      475 non-null object
특례수급자_인원      475 non-null object
시설수급자_시설      475 non-null object
시설수급자_인원      475 non-null object
dtypes: int64(1), object(13)
memory usage: 52.0+ KB

In [34]:
cols = ['총_수급자_가구', '총_수급자_시설', '총_수급자_인원',
       '일반수급자_가구', '일반수급자_인원', '조건부_수급자_가구', '조건부_수급자_인원', '특례수급자_가구',
       '특례수급자_인원', '시설수급자_시설', '시설수급자_인원']

# pass them to df.replace(), specifying each char and it's replacement:
underGDP[cols] = underGDP[cols].replace({',': '', '-':'0'}, regex=True)

In [35]:
underGDP.기간 = underGDP.기간.astype('int')
underGDP.iloc[:,1:3] = underGDP.iloc[:,1:3].astype('str')
underGDP.iloc[:,3:] = underGDP.iloc[:,3:].astype('int')

In [36]:
for i in range(len(underGDP.columns)) :
    print(list(underGDP.columns)[i],"결측치 수 :",sum(underGDP[list(underGDP.columns)[i]].isnull()))

기간 결측치 수 : 0
자치구 결측치 수 : 0
동 결측치 수 : 0
총_수급자_가구 결측치 수 : 0
총_수급자_시설 결측치 수 : 0
총_수급자_인원 결측치 수 : 0
일반수급자_가구 결측치 수 : 0
일반수급자_인원 결측치 수 : 0
조건부_수급자_가구 결측치 수 : 0
조건부_수급자_인원 결측치 수 : 0
특례수급자_가구 결측치 수 : 0
특례수급자_인원 결측치 수 : 0
시설수급자_시설 결측치 수 : 0
시설수급자_인원 결측치 수 : 0

In [37]:
a = underGDP.corr()

In [38]:
a.총_수급자_가구.sort_values(ascending=False)

총_수급자_가구      1.000000
일반수급자_가구      0.999981
일반수급자_인원      0.999931
총_수급자_인원      0.999865
조건부_수급자_가구    0.998804
조건부_수급자_인원    0.998474
특례수급자_가구      0.994186
특례수급자_인원      0.993587
시설수급자_시설      0.973538
총_수급자_시설      0.973538
시설수급자_인원      0.960688
기간                 NaN
Name: 총_수급자_가구, dtype: float64

In [39]:
underGDP = underGDP[['자치구', '동', '총_수급자_가구']]

In [40]:
underGDP

     자치구            동  총_수급자_가구
0     합계           합계    197278
1     본청           본청         0
2    종로구           소계      3109
3    종로구          사직동        99
4    종로구          삼청동        34
5    종로구          부암동       104
6    종로구          평창동        94
7    종로구          무악동       101
8    종로구          교남동       131
9    종로구          가회동        45
10   종로구  종로1.2.3.4가동       627
11   종로구      종로5·6가동       172
12   종로구          이화동       150
13   종로구         창신1동       332
14   종로구         창신2동       280
15   종로구         창신3동       118
16   종로구         숭인1동       173
17   종로구         숭인2동       340
18   종로구        청운효자동       130
19   종로구          혜화동       175
20   종로구           기타         4
21    중구           소계      3360
22    중구          소공동        24
23    중구          회현동       498
24    중구           명동        52
25    중구           필동        66
26    중구          장충동        67
27    중구          광희동       114
28    중구         을지로동        81
29    중구         신당5동       243
..   ...          ...       ...
445  송파구         문정1동       173
446  송파구         문정2동        69
447  송파구          장지동       658
448  송파구          위례동       183
449  송파구         잠실본동       445
450  송파구         잠실4동        30
451  송파구         잠실6동        21
452  송파구         잠실7동         5
453  송파구         잠실2동        14
454  송파구         잠실3동        23
455  송파구           기타         3
456  강동구           소계      6986
457  강동구          강일동       543
458  강동구          상일동       175
459  강동구         명일1동       168
460  강동구         명일2동        95
461  강동구         고덕1동       177
462  강동구         고덕2동       319
463  강동구         암사2동        95
464  강동구         암사3동        56
465  강동구         천호1동       727
466  강동구         천호3동       791
467  강동구         성내1동       150
468  강동구         성내2동       463
469  강동구         성내3동       291
470  강동구         둔촌2동       281
471  강동구         암사1동       931
472  강동구         천호2동      1009
473  강동구           길동       707
474  강동구           기타         8

[475 rows x 3 columns]

In [136]:
underGDP=underGDP[underGDP.동 != '합계']
underGDP=underGDP[underGDP.동 != '본청']
underGDP=underGDP[underGDP.동 != '소계']
underGDP=underGDP[underGDP.동 != '기타']

In [171]:
len(underGDP)

423

In [175]:
num_company.동.replace('여의도동','여의동', inplace=True)

In [177]:
set(underGDP.동)-set(num_company.동)

set()

In [178]:
set(num_company.동)-set(underGDP.동)

{'둔촌1동'}

In [179]:
underGDP[underGDP['동'].str.contains(r'둔촌')]

     자치구     동  총_수급자_가구
470  강동구  둔촌2동       281

# store

In [41]:
store = pd.read_csv('서울시 유통업체현황 (동별) 통계 .txt', delimiter="	", header=[0,3])

In [42]:
store.head()

     기간  자치구            동   합계                        대형마트           \
     기간  자치구            동   개소       매장면적       건물연면적   개소     매장면적
0  2017   합계           합계  467  5,393,420  27,016,613   61  857,904
1  2017  종로구           소계   12    133,876     444,978    -        -
2  2017  종로구  종로1.2.3.4가동    6     54,063     333,469    -        -
3  2017  종로구      종로5·6가동    3     71,445      83,436    -        -
4  2017  종로구         창신1동    1      3,660       9,625    -        -

             백화점  ...        전문점 쇼핑센터                     복합쇼핑몰           \
       건물연면적  개소  ...      건물연면적   개소     매장면적      건물연면적    개소     매장면적
0  6,237,959  31  ...  2,829,420   36  784,804  3,761,856    10  278,711
1          -   -  ...    168,311    -        -          -     -        -
2          -   -  ...    168,311    -        -          -     -        -
3          -   -  ...          -    -        -          -     -        -
4          -   -  ...          -    -        -          -     -        -

             그밖의 대규모점포
       건물연면적        개소       매장면적      건물연면적
0  1,534,046       307  2,153,637  8,609,705
1          -        10    117,620    276,667
2          -         4     37,807    165,158
3          -         3     71,445     83,436
4          -         1      3,660      9,625

[5 rows x 24 columns]

In [43]:
store.columns = ['_'.join(col) for col in store.columns.values]

In [44]:
store.columns = ['기간', '자치구', '동', '합계_개소', '합계_매장면적', '합계_건물연면적', '대형마트_개소',
       '대형마트_매장면적', '대형마트_건물연면적', '백화점_개소', '백화점_매장면적', '백화점_건물연면적', '전문점_개소',
       '전문점_매장면적', '전문점_건물연면적', '쇼핑센터_개소', '쇼핑센터_매장면적', '쇼핑센터_건물연면적',
       '복합쇼핑몰_개소', '복합쇼핑몰_매장면적', '복합쇼핑몰_건물연면적', '그밖의 대규모점포_개소',
       '그밖의 대규모점포_매장면적', '그밖의 대규모점포_건물연면적']

In [45]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 24 columns):
기간                 266 non-null int64
자치구                266 non-null object
동                  266 non-null object
합계_개소              266 non-null int64
합계_매장면적            266 non-null object
합계_건물연면적           266 non-null object
대형마트_개소            266 non-null object
대형마트_매장면적          266 non-null object
대형마트_건물연면적         266 non-null object
백화점_개소             266 non-null object
백화점_매장면적           266 non-null object
백화점_건물연면적          266 non-null object
전문점_개소             266 non-null object
전문점_매장면적           266 non-null object
전문점_건물연면적          266 non-null object
쇼핑센터_개소            266 non-null object
쇼핑센터_매장면적          266 non-null object
쇼핑센터_건물연면적         266 non-null object
복합쇼핑몰_개소           266 non-null object
복합쇼핑몰_매장면적         266 non-null object
복합쇼핑몰_건물연면적        266 non-null object
그밖의 대규모점포_개소       266 non-null object
그밖의 대규모점포_매장면적     266 non-null object
그밖의 대규모점포_건물연면적    266 non-null object
dtypes: int64(2), object(22)
memory usage: 50.0+ KB

In [46]:
cols = ['기간', '자치구', '동', '합계_개소', '합계_매장면적', '합계_건물연면적', '대형마트_개소',
       '대형마트_매장면적', '대형마트_건물연면적', '백화점_개소', '백화점_매장면적', '백화점_건물연면적', '전문점_개소',
       '전문점_매장면적', '전문점_건물연면적', '쇼핑센터_개소', '쇼핑센터_매장면적', '쇼핑센터_건물연면적',
       '복합쇼핑몰_개소', '복합쇼핑몰_매장면적', '복합쇼핑몰_건물연면적', '그밖의 대규모점포_개소',
       '그밖의 대규모점포_매장면적', '그밖의 대규모점포_건물연면적']

# pass them to df.replace(), specifying each char and it's replacement:
store[cols] = store[cols].replace({',': '', '-':'0'}, regex=True)

In [47]:
store.기간 = store.기간.astype('int')
store.iloc[:,1:3] = store.iloc[:,1:3].astype('str')
store.iloc[:,3:] = store.iloc[:,3:].astype('int')

In [48]:
for i in range(len(store.columns)) :
    print(list(store.columns)[i],"결측치 수 :",sum(store[list(store.columns)[i]].isnull()))

기간 결측치 수 : 0
자치구 결측치 수 : 0
동 결측치 수 : 0
합계_개소 결측치 수 : 0
합계_매장면적 결측치 수 : 0
합계_건물연면적 결측치 수 : 0
대형마트_개소 결측치 수 : 0
대형마트_매장면적 결측치 수 : 0
대형마트_건물연면적 결측치 수 : 0
백화점_개소 결측치 수 : 0
백화점_매장면적 결측치 수 : 0
백화점_건물연면적 결측치 수 : 0
전문점_개소 결측치 수 : 0
전문점_매장면적 결측치 수 : 0
전문점_건물연면적 결측치 수 : 0
쇼핑센터_개소 결측치 수 : 0
쇼핑센터_매장면적 결측치 수 : 0
쇼핑센터_건물연면적 결측치 수 : 0
복합쇼핑몰_개소 결측치 수 : 0
복합쇼핑몰_매장면적 결측치 수 : 0
복합쇼핑몰_건물연면적 결측치 수 : 0
그밖의 대규모점포_개소 결측치 수 : 0
그밖의 대규모점포_매장면적 결측치 수 : 0
그밖의 대규모점포_건물연면적 결측치 수 : 0

In [49]:
a = store.corr()

In [50]:
a.백화점_개소.sort_values(ascending=False)

백화점_개소             1.000000
백화점_매장면적           0.992757
합계_개소              0.973598
합계_매장면적            0.970796
그밖의 대규모점포_개소       0.968868
합계_건물연면적           0.954716
대형마트_개소            0.951154
그밖의 대규모점포_매장면적     0.947000
백화점_건물연면적          0.937295
대형마트_건물연면적         0.935288
대형마트_매장면적          0.934595
쇼핑센터_개소            0.932960
그밖의 대규모점포_건물연면적    0.932540
쇼핑센터_매장면적          0.915351
전문점_개소             0.900650
쇼핑센터_건물연면적         0.895204
복합쇼핑몰_매장면적         0.876942
복합쇼핑몰_개소           0.873253
복합쇼핑몰_건물연면적        0.845287
전문점_매장면적           0.839807
전문점_건물연면적          0.838427
기간                      NaN
Name: 백화점_개소, dtype: float64

In [51]:
num_store = store[['자치구', '동', '백화점_개소','백화점_매장면적','복합쇼핑몰_개소','백화점_건물연면적','복합쇼핑몰_매장면적','복합쇼핑몰_건물연면적']]

In [52]:
num_store

,자치구,동,백화점_개소,백화점_매장면적,복합쇼핑몰_개소,백화점_건물연면적,복합쇼핑몰_매장면적,복합쇼핑몰_건물연면적
0,합계,합계,31,972185,10,4043627,278711,1534046
1,종로구,소계,0,0,0,0,0,0
2,종로구,종로1.2.3.4가동,0,0,0,0,0,0
3,종로구,종로5·6가동,0,0,0,0,0,0
4,종로구,창신1동,0,0,0,0,0,0
5,종로구,창신3동,0,0,0,0,0,0
6,종로구,숭인2동,0,0,0,0,0,0
7,중구,소계,3,130194,0,257042,0,0
8,중구,소공동,2,73857,0,125379,0,0
9,중구,회현동,1,56337,0,131663,0,0
10,중구,명동,0,0,0,0,0,0
11,중구,광희동,0,0,0,0,0,0
12,중구,을지로동,0,0,0,0,0,0
13,중구,황학동,0,0,0,0,0,0
14,중구,신당동,0,0,0,0,0,0
15,중구,약수동,0,0,0,0,0,0
16,용산구,소계,1,19377,0,276688,0,0
17,용산구,원효로2동,0,0,0,0,0,0
18,용산구,이태원1동,0,0,0,0,0,0
19,용산구,서빙고동,0,0,0,0,0,0
20,용산구,보광동,0,0,0,0,0,0
21,용산구,청파동,0,0,0,0,0,0
22,용산구,한강로동,1,19377,0,276688,0,0
23,성동구,소계,0,0,1,0,13997,142038
24,성동구,마장동,0,0,0,0,0,0
25,성동구,행당1동,0,0,1,0,13997,142038
26,성동구,행당2동,0,0,0,0,0,0
27,성동구,성수2가1동,0,0,0,0,0,0
28,성동구,성수2가3동,0,0,0,0,0,0
29,성동구,용답동,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
236,강남구,역삼1동,0,0,0,0,0,0
237,강남구,역삼2동,0,0,0,0,0,0
238,강남구,도곡2동,0,0,0,0,0,0
239,강남구,일원1동,0,0,0,0,0,0
240,강남구,일원2동,0,0,0,0,0,0
241,강남구,수서동,0,0,0,0,0,0
242,강남구,압구정동,2,23318,0,42496,0,0
243,강남구,청담동,1,3386,0,54466,0,0
244,강남구,대치2동,0,0,0,0,0,0
245,송파구,소계,2,104262,0,1371829,0,0
246,송파구,마천1동,0,0,0,0,0,0
247,송파구,마천2동,0,0,0,0,0,0
248,송파구,오륜동,0,0,0,0,0,0
249,송파구,오금동,0,0,0,0,0,0
250,송파구,송파1동,0,0,0,0,0,0
251,송파구,석촌동,0,0,0,0,0,0
252,송파구,가락2동,0,0,0,0,0,0
253,송파구,문정2동,0,0,0,0,0,0
254,송파구,잠실6동,1,31680,0,807686,0,0
255,송파구,잠실7동,0,0,0,0,0,0
256,송파구,잠실3동,1,72582,0,564143,0,0
257,강동구,소계,1,28994,0,74203,0,0
258,강동구,명일2동,0,0,0,0,0,0
259,강동구,천호1동,0,0,0,0,0,0
260,강동구,천호3동,0,0,0,0,0,0
261,강동구,성내2동,0,0,0,0,0,0
262,강동구,성내3동,0,0,0,0,0,0
263,강동구,둔촌1동,0,0,0,0,0,0
264,강동구,천호2동,1,28994,0,74203,0,0
265,강동구,길동,0,0,0,0,0,0

In [172]:
num_store=num_store[num_store.동 != '합계']
num_store=num_store[num_store.동 != '본청']
num_store=num_store[num_store.동 != '소계']
num_store=num_store[num_store.동 != '기타']

In [173]:
len(num_store)

240

In [182]:
set(num_store.동)-set(num_company.동)

set()

# 아파트 m^2 당 편균 매매가

In [53]:
apt = pd.read_excel('시세통계_면적당평균가_201907기준(2003버전).xls', skiprows=range(0,4), usecols=[0,1,2,3,4,41])

In [54]:
apt = apt[(apt['시도']=='서울특별시')]

In [55]:
apt.columns

Index(['시도', '구시군', '구', '동읍면', '값', 201907], dtype='object')

In [56]:
apt = apt[['구시군', '동읍면', '값', 201907]]

In [57]:
apt.columns = ['자치구', '동', '값', '가격']

In [58]:
for i in range(len(apt.columns)) :
    print(list(apt.columns)[i],"결측치 수 :",sum(apt[list(apt.columns)[i]].isnull()))

자치구 결측치 수 : 2
동 결측치 수 : 52
값 결측치 수 : 0
가격 결측치 수 : 0

In [59]:
apt_mae = apt[(apt['값']=='㎡당 매매평균가 ')]
apt_jun = apt[(apt['값']=='㎡당 전세평균가 ')]

In [60]:
apt_mae.iloc[0,0] = '합계'
apt_mae.iloc[0,1] = '합계'
apt_mae.fillna('소계', inplace= True)
apt_jun.iloc[0,0] = '합계'
apt_jun.iloc[0,1] = '합계'
apt_jun.fillna('소계', inplace= True)

D:\01_Program\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
D:\01_Program\Anaconda3\lib\site-packages\pandas\core\frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [61]:
apt_mae = apt_mae[['자치구', '동', '가격']]
apt_mae.columns = ['자치구', '동', '㎡당 매매평균가']

In [62]:
apt_jun = apt_jun[['자치구', '동', '가격']]
apt_jun.columns = ['자치구', '동', '㎡당 전세평균가']

In [63]:
apt_mae.head()

    자치구    동  ㎡당 매매평균가
2    합계   합계     820.0
4   강남구   소계    1649.0
6   강남구  개포동    2538.0
8   강남구  논현동    1079.0
10  강남구  대치동    1672.0

In [64]:
apt_jun.head()

    자치구    동  ㎡당 전세평균가
3    합계   합계     425.0
5   강남구   소계     639.0
7   강남구  개포동     563.0
9   강남구  논현동     577.0
11  강남구  대치동     710.0

In [310]:
apt = pd.merge(apt_mae, apt_jun, on=['자치구','동'])

In [311]:
apt=apt[apt.동 != '합계']
apt=apt[apt.동 != '본청']
apt=apt[apt.동 != '소계']
apt=apt[apt.동 != '기타']

In [309]:
apt.동.replace("가", "동", regex=True, inplace= True)

In [305]:
apt.동.replace("동", "", regex=True, inplace= True)

a = re.sub('[동]','', str(a))

In [312]:
len(apt)

280

In [298]:
num_company.동.replace('여의도동','여의동', inplace=True)

In [337]:
a =  pd.DataFrame(( set(apt.동)-set(num_company.동) )|( set(apt.동)-set(underGDP.동)))

In [338]:
a

          0
0       익선동
1       상봉동
2     양평동4가
3       신월동
4       도곡동
5       도봉동
6      답십리동
7        중동
8      노량진동
9       내수동
10      도원동
11    충정로2가
12    충무로4가
13     명륜1가
14       본동
15      독산동
16    문래동5가
17      창전동
18      송파동
19      구의동
20      서초동
21    문래동3가
22   영등포동8가
23      등촌동
24      영천동
25      정릉동
26    상왕십리동
27      순화동
28      우면동
29      마포동
..      ...
172     견지동
173     자곡동
174     숭인동
175   회현동2가
176     가락동
177     자양동
178     묵정동
179   당산동4가
180   보문동4가
181     개포동
182     시흥동
183     장안동
184   금호동2가
185     신천동
186     천왕동
187   문래동6가
188      합동
189      묵동
190     온수동
191     방학동
192  동소문동5가
193     대림동
194   당산동3가
195     이문동
196   한강로1가
197   성수동2가
198     중화동
199     상도동
200     신설동
201   양평동1가

[202 rows x 1 columns]

In [350]:
a[a[0].str.contains(r'상')]

         0
1      상봉동
26   상왕십리동
36    상월곡동
44     상계동
66     상수동
199    상도동

In [329]:
underGDP.동[underGDP['동'].str.contains(r'왕십리도선동')]

71    왕십리도선동
Name: 동, dtype: object

In [339]:
appended_data = []
for i in a:
    appended_data.append(underGDP.동[underGDP['동'].str.contains(r'{}'.format(i))])

In [340]:
appended_data

[194    상계10동
 Name: 동, dtype: object]

# 동별 데이타 셋 합치기

In [94]:
num_company.head()

   자치구    동  합계_사업체수
0   합계   합계   822863
1  종로구   소계    40490
2  종로구  사직동     3544
3  종로구  삼청동      753
4  종로구  부암동      567

In [85]:
num_store.shape

(266, 8)

In [68]:
underGDP.shape

(475, 3)

In [69]:
apt.shape

(306, 4)

In [86]:
a= [1,2,3]
b= [2,3,4]

In [97]:
len(set(num_company.동) & set(num_store.동) & set(underGDP.동))

239

In [99]:
set(num_store.동) - set(num_company.동)

{'여의동'}

In [98]:
set(num_company.동) - set(num_store.동)

{'가락1동',
 '가락본동',
 '가리봉동',
 '가양1동',
 '가회동',
 '강일동',
 '개봉1동',
 '개봉2동',
 '개포1동',
 '개포2동',
 '개포4동',
 '거여1동',
 '거여2동',
 '고덕1동',
 '고덕2동',
 '공릉2동',
 '공항동',
 '교남동',
 '구로4동',
 '구산동',
 '구의1동',
 '금호1가동',
 '금호4가동',
 '낙성대동',
 '난향동',
 '남영동',
 '내곡동',
 '노량진1동',
 '노량진2동',
 '녹번동',
 '능동',
 '다산동',
 '답십리2동',
 '대림2동',
 '대방동',
 '도곡1동',
 '도화동',
 '독산2동',
 '독산4동',
 '동화동',
 '둔촌2동',
 '등촌2동',
 '망원1동',
 '면목2동',
 '면목3.8동',
 '면목4동',
 '명일1동',
 '목5동',
 '무악동',
 '묵2동',
 '문정1동',
 '미아동',
 '방배1동',
 '방배3동',
 '방이1동',
 '방이2동',
 '방학2동',
 '방화3동',
 '번2동',
 '번3동',
 '부암동',
 '북가좌1동',
 '북가좌2동',
 '북아현동',
 '사근동',
 '사당1동',
 '사당3동',
 '사당5동',
 '사직동',
 '삼각산동',
 '삼전동',
 '삼청동',
 '상계10동',
 '상계3.4동',
 '상계6.7동',
 '상계8동',
 '상계9동',
 '상도4동',
 '상일동',
 '서초3동',
 '석관동',
 '성내1동',
 '성산1동',
 '성수1가1동',
 '성수1가2동',
 '성현동',
 '세곡동',
 '송정동',
 '송파2동',
 '수궁동',
 '숭인1동',
 '시흥2동',
 '시흥4동',
 '시흥5동',
 '신길4동',
 '신길5동',
 '신길6동',
 '신길7동',
 '신당5동',
 '신대방1동',
 '신대방2동',
 '신사1동',
 '신사2동',
 '신월1동',
 '신월2동',
 '신월3동',
 '신월4동',
 '신월5동',
 '신정2동',
 '신정3동',
 '신정6동',
 '쌍문1동',
 '쌍문2동',
 '쌍문3동',
 '쌍문4동',
 '아현동',
 '안암동',
 '암사1동',
 '암사2동',
 '암사3동',
 '양평2동',
 '여의도동',
 '역촌동',
 '염리동',
 '오류2동',
 '왕십리2동',
 '용강동',
 '용문동',
 '용산2가동',
 '우이동',
 '우장산동',
 '원효로1동',
 '월계1동',
 '월계2동',
 '월곡1동',
 '위례동',
 '응봉동',
 '이촌1동',
 '이촌2동',
 '이태원2동',
 '이화동',
 '일원본동',
 '자양1동',
 '잠실2동',
 '잠실4동',
 '잠실본동',
 '장위1동',
 '장위2동',
 '장지동',
 '장충동',
 '전농2동',
 '정릉1동',
 '정릉2동',
 '정릉3동',
 '종암동',
 '중계4동',
 '중곡2동',
 '중곡3동',
 '중림동',
 '중화1동',
 '창1동',
 '창3동',
 '창4동',
 '창신2동',
 '천연동',
 '청구동',
 '청운효자동',
 '충현동',
 '평창동',
 '풍납1동',
 '풍납2동',
 '필동',
 '하계2동',
 '한남동',
 '혜화동',
 '홍은2동',
 '홍제1동',
 '홍제2동',
 '화곡2동',
 '화곡6동',
 '화곡8동',
 '화곡본동',
 '효창동',
 '후암동',
 '휘경2동'}

In [ ]:
[i for i, j in zip(a, b) if i == j]

In [70]:
result = pd.merge(num_company, num_store,how='outer', on=['자치구','동'])

In [71]:
dong = pd.merge(result, underGDP, on=['자치구','동'], how='outer')

In [72]:
dong[(dong['백화점_매장면적']>0)]

,자치구,동,합계_사업체수,백화점_개소,백화점_매장면적,복합쇼핑몰_개소,백화점_건물연면적,복합쇼핑몰_매장면적,복합쇼핑몰_건물연면적,총_수급자_가구
0,합계,합계,822863.0,31.0,972185.0,10.0,4043627.0,278711.0,1534046.0,197278.0
19,중구,소계,62936.0,3.0,130194.0,0.0,257042.0,0.0,0.0,3360.0
20,중구,소공동,3918.0,2.0,73857.0,0.0,125379.0,0.0,0.0,24.0
21,중구,회현동,9425.0,1.0,56337.0,0.0,131663.0,0.0,0.0,498.0
35,용산구,소계,20806.0,1.0,19377.0,0.0,276688.0,0.0,0.0,4910.0
50,용산구,한강로동,4972.0,1.0,19377.0,0.0,276688.0,0.0,0.0,280.0
70,광진구,소계,24688.0,1.0,27017.0,0.0,88630.0,0.0,0.0,6102.0
84,광진구,자양3동,1353.0,1.0,27017.0,0.0,88630.0,0.0,0.0,199.0
86,동대문구,소계,32411.0,1.0,40346.0,0.0,177793.0,0.0,0.0,9280.0
93,동대문구,전농1동,2199.0,1.0,40346.0,0.0,177793.0,0.0,0.0,1165.0
118,성북구,소계,24039.0,1.0,36583.0,1.0,88679.0,17056.0,26488.0,8824.0
128,성북구,길음2동,935.0,1.0,36583.0,0.0,88679.0,0.0,0.0,249.0
139,강북구,소계,18928.0,1.0,45651.0,0.0,73173.0,0.0,0.0,11125.0
148,강북구,송중동,1962.0,1.0,45651.0,0.0,73173.0,0.0,0.0,756.0
168,노원구,소계,26516.0,2.0,58519.0,0.0,132704.0,0.0,0.0,17022.0
179,노원구,상계2동,2614.0,1.0,48227.0,0.0,72915.0,0.0,0.0,556.0
186,노원구,중계2.3동,1361.0,1.0,10292.0,0.0,59789.0,0.0,0.0,2558.0
205,서대문구,소계,19852.0,1.0,35472.0,0.0,84575.0,0.0,0.0,6014.0
218,서대문구,신촌동,3720.0,1.0,35472.0,0.0,84575.0,0.0,0.0,447.0
237,양천구,소계,26077.0,2.0,62577.0,0.0,239441.0,0.0,0.0,8175.0
238,양천구,목1동,2943.0,2.0,62577.0,0.0,239441.0,0.0,0.0,140.0
256,강서구,소계,36556.0,1.0,34547.0,0.0,110026.0,0.0,0.0,15432.0
260,강서구,등촌3동,2657.0,1.0,34547.0,0.0,110026.0,0.0,0.0,3502.0
277,구로구,소계,38405.0,2.0,61978.0,0.0,210647.0,0.0,0.0,6107.0
278,구로구,신도림동,2864.0,1.0,37221.0,0.0,116445.0,0.0,0.0,95.0
282,구로구,구로5동,4907.0,1.0,24757.0,0.0,94202.0,0.0,0.0,253.0
304,영등포구,소계,43163.0,2.0,50499.0,1.0,146749.0,37286.0,84288.0,6394.0
319,영등포구,영등포본동,1482.0,1.0,38605.0,0.0,128171.0,0.0,0.0,574.0
320,영등포구,영등포동,6320.0,1.0,11894.0,0.0,18578.0,0.0,0.0,1239.0
323,동작구,소계,19966.0,1.0,11900.0,0.0,15248.0,0.0,0.0,6375.0
338,동작구,사당2동,1667.0,1.0,11900.0,0.0,15248.0,0.0,0.0,302.0
339,관악구,소계,26374.0,1.0,21711.0,3.0,91647.0,26037.0,87194.0,10371.0
340,관악구,보라매동,1407.0,1.0,21711.0,0.0,91647.0,0.0,0.0,522.0
361,서초구,소계,46207.0,2.0,65607.0,0.0,285708.0,0.0,0.0,3574.0
370,서초구,반포3동,969.0,1.0,12595.0,0.0,18952.0,0.0,0.0,17.0
371,서초구,반포4동,3586.0,1.0,53012.0,0.0,266756.0,0.0,0.0,46.0
380,강남구,소계,72511.0,6.0,136951.0,1.0,318845.0,80038.0,701880.0,7208.0
381,강남구,신사동,4365.0,1.0,37604.0,0.0,58763.0,0.0,0.0,83.0
384,강남구,삼성1동,4169.0,1.0,46111.0,1.0,99964.0,80038.0,701880.0,66.0
387,강남구,대치4동,3699.0,1.0,26532.0,0.0,63156.0,0.0,0.0,209.0
399,강남구,압구정동,4131.0,2.0,23318.0,0.0,42496.0,0.0,0.0,62.0
400,강남구,청담동,4432.0,1.0,3386.0,0.0,54466.0,0.0,0.0,118.0
403,송파구,소계,46676.0,2.0,104262.0,0.0,1371829.0,0.0,0.0,7680.0
427,송파구,잠실6동,2620.0,1.0,31680.0,0.0,807686.0,0.0,0.0,21.0
430,송파구,잠실3동,1589.0,1.0,72582.0,0.0,564143.0,0.0,0.0,23.0
431,강동구,소계,29952.0,1.0,28994.0,0.0,74203.0,0.0,0.0,6986.0
448,강동구,천호2동,3730.0,1.0,28994.0,0.0,74203.0,0.0,0.0,1009.0

In [73]:
dong.corr()

,합계_사업체수,백화점_개소,백화점_매장면적,복합쇼핑몰_개소,백화점_건물연면적,복합쇼핑몰_매장면적,복합쇼핑몰_건물연면적,총_수급자_가구
합계_사업체수,1.000000,0.972775,0.970990,0.908570,0.924702,0.892851,0.837972,0.989408
백화점_개소,0.972775,1.000000,0.992757,0.873253,0.937295,0.876942,0.845287,0.958792
백화점_매장면적,0.970990,0.992757,1.000000,0.865414,0.953204,0.864600,0.829555,0.956882
복합쇼핑몰_개소,0.908570,0.873253,0.865414,1.000000,0.815927,0.936455,0.871397,0.908072
백화점_건물연면적,0.924702,0.937295,0.953204,0.815927,1.000000,0.802776,0.761370,0.911493
복합쇼핑몰_매장면적,0.892851,0.876942,0.864600,0.936455,0.802776,1.000000,0.961570,0.878649
복합쇼핑몰_건물연면적,0.837972,0.845287,0.829555,0.871397,0.761370,0.961570,1.000000,0.821313
총_수급자_가구,0.989408,0.958792,0.956882,0.908072,0.911493,0.878649,0.821313,1.000000

In [74]:
dong.head()

,자치구,동,합계_사업체수,백화점_개소,백화점_매장면적,복합쇼핑몰_개소,백화점_건물연면적,복합쇼핑몰_매장면적,복합쇼핑몰_건물연면적,총_수급자_가구
0,합계,합계,822863.0,31.0,972185.0,10.0,4043627.0,278711.0,1534046.0,197278.0
1,종로구,소계,40490.0,0.0,0.0,0.0,0.0,0.0,0.0,3109.0
2,종로구,사직동,3544.0,NaN,NaN,NaN,NaN,NaN,NaN,99.0
3,종로구,삼청동,753.0,NaN,NaN,NaN,NaN,NaN,NaN,34.0
4,종로구,부암동,567.0,NaN,NaN,NaN,NaN,NaN,NaN,104.0

In [75]:
dong.shape

(477, 10)

In [76]:
dong.동.unique()

array(['합계', '소계', '사직동', '삼청동', '부암동', '평창동', '무악동', '교남동', '가회동',
       '종로1.2.3.4가동', '종로5·6가동', '이화동', '창신1동', '창신2동', '창신3동', '숭인1동',
       '숭인2동', '청운효자동', '혜화동', '소공동', '회현동', '명동', '필동', '장충동', '광희동',
       '을지로동', '신당5동', '황학동', '중림동', '신당동', '다산동', '약수동', '청구동', '동화동',
       '후암동', '용산2가동', '남영동', '원효로2동', '효창동', '용문동', '이촌1동', '이촌2동',
       '이태원1동', '이태원2동', '서빙고동', '보광동', '청파동', '원효로1동', '한강로동', '한남동',
       '왕십리2동', '마장동', '사근동', '행당1동', '행당2동', '응봉동', '금호1가동', '금호4가동',
       '성수1가1동', '성수1가2동', '성수2가1동', '성수2가3동', '송정동', '용답동', '왕십리도선동',
       '금호2.3가동', '옥수동', '화양동', '군자동', '중곡1동', '중곡2동', '중곡3동', '중곡4동',
       '능동', '구의1동', '구의2동', '구의3동', '광장동', '자양1동', '자양2동', '자양3동',
       '자양4동', '회기동', '휘경1동', '휘경2동', '청량리동', '용신동', '제기동', '전농1동',
       '전농2동', '답십리1동', '답십리2동', '장안1동', '장안2동', '이문1동', '이문2동', '면목2동',
       '면목4동', '면목5동', '면목7동', '상봉1동', '상봉2동', '중화1동', '중화2동', '묵1동',
       '묵2동', '망우3동', '신내1동', '신내2동', '면목본동', '면목3.8동', '망우본동', '돈암1동',
       '돈암2동', '안암동', '보문동', '정릉1동', '정릉2동', '정릉3동', '정릉4동', '길음1동',
       '길음2동', '월곡1동', '월곡2동', '장위1동', '장위2동', '장위3동', '성북동', '삼선동',
       '동선동', '종암동', '석관동', '번1동', '번2동', '번3동', '수유1동', '수유2동', '수유3동',
       '삼양동', '미아동', '송중동', '송천동', '삼각산동', '우이동', '인수동', '쌍문1동', '쌍문2동',
       '쌍문3동', '쌍문4동', '방학1동', '방학2동', '방학3동', '창1동', '창2동', '창3동', '창4동',
       '창5동', '도봉1동', '도봉2동', '월계1동', '월계2동', '월계3동', '공릉2동', '하계1동',
       '하계2동', '중계본동', '중계1동', '중계4동', '상계1동', '상계2동', '상계5동', '상계8동',
       '상계9동', '상계10동', '상계3.4동', '상계6.7동', '중계2.3동', '공릉1동', '녹번동',
       '불광1동', '갈현1동', '갈현2동', '구산동', '대조동', '응암1동', '응암2동', '신사1동',
       '신사2동', '증산동', '수색동', '진관동', '불광2동', '응암3동', '역촌동', '천연동', '홍제1동',
       '홍제3동', '홍제2동', '홍은1동', '홍은2동', '남가좌1동', '남가좌2동', '북가좌1동', '북가좌2동',
       '충현동', '북아현동', '신촌동', '연희동', '용강동', '대흥동', '염리동', '신수동', '서교동',
       '합정동', '망원1동', '망원2동', '연남동', '성산1동', '성산2동', '상암동', '도화동', '서강동',
       '공덕동', '아현동', '목1동', '목2동', '목3동', '목4동', '신월1동', '신월2동', '신월3동',
       '신월4동', '신월5동', '신월6동', '신월7동', '신정1동', '신정2동', '신정3동', '신정6동',
       '신정7동', '목5동', '신정4동', '염창동', '등촌1동', '등촌2동', '등촌3동', '화곡본동',
       '화곡2동', '화곡3동', '화곡4동', '화곡6동', '화곡8동', '가양1동', '가양2동', '가양3동',
       '발산1동', '공항동', '방화1동', '방화2동', '방화3동', '화곡1동', '우장산동', '신도림동',
       '구로1동', '구로3동', '구로4동', '구로5동', '고척1동', '고척2동', '개봉2동', '개봉3동',
       '오류1동', '오류2동', '수궁동', '가리봉동', '구로2동', '개봉1동', '가산동', '독산1동',
       '독산2동', '독산3동', '독산4동', '시흥1동', '시흥2동', '시흥3동', '시흥4동', '시흥5동',
       '여의도동', '당산1동', '당산2동', '양평1동', '양평2동', '신길1동', '신길3동', '신길4동',
       '신길5동', '신길6동', '신길7동', '대림1동', '대림2동', '대림3동', '영등포본동', '영등포동',
       '도림동', '문래동', '노량진2동', '상도1동', '상도2동', '상도3동', '상도4동', '사당1동',
       '사당3동', '사당4동', '사당5동', '대방동', '신대방1동', '신대방2동', '흑석동', '노량진1동',
       '사당2동', '보라매동', '청림동', '행운동', '낙성대동', '중앙동', '인헌동', '남현동', '서원동',
       '신원동', '서림동', '신사동', '신림동', '난향동', '조원동', '대학동', '은천동', '성현동',
       '청룡동', '난곡동', '삼성동', '미성동', '서초1동', '서초2동', '서초3동', '서초4동', '잠원동',
       '반포본동', '반포1동', '반포2동', '반포3동', '반포4동', '방배본동', '방배1동', '방배2동',
       '방배3동', '방배4동', '양재1동', '양재2동', '내곡동', '논현1동', '논현2동', '삼성1동',
       '삼성2동', '대치1동', '대치4동', '역삼1동', '역삼2동', '도곡1동', '도곡2동', '개포1동',
       '개포4동', '일원본동', '일원1동', '일원2동', '수서동', '세곡동', '압구정동', '청담동',
       '대치2동', '개포2동', '풍납1동', '풍납2동', '거여1동', '거여2동', '마천1동', '마천2동',
       '방이1동', '방이2동', '오륜동', '오금동', '송파1동', '송파2동', '석촌동', '삼전동', '가락본동',
       '가락1동', '가락2동', '문정1동', '문정2동', '장지동', '위례동', '잠실본동', '잠실4동',
       '잠실6동', '잠실7동', '잠실2동', '잠실3동', '강일동', '상일동', '명일1동', '명일2동',
       '고덕1동', '고덕2동', '암사2동', '암사3동', '천호1동', '천호3동', '성내1동', '성내2동',
       '성내3동', '둔촌1동', '둔촌2동', '암사1동', '천호2동', '길동', '여의동', '본청', '기타'],
      dtype=object)

In [77]:
dong_Final = pd.merge(apt, dong, on=['자치구','동'])

In [78]:
dong_Final.shape

(101, 12)